@import 'font-awesome';

#admin-user-profile, #admin-customer-detail {
  margin-top: 25px;  
}

#img_prev_origin, #img_prev_about_1, #img_prev_about_2 {
  margin-bottom: 20px;
}

#content-edit-d3s-about-image {
  min-height: 140px !important;
}

.md-input-message-animation {
  color: red;
}
.upload-image-user {
  padding-left: 5px;
}
.job-filter-index {
  .row-action {
    a {
      text-decoration: underline
    }
  }
}
#new-job-filter {
  .nested-fields {
    padding-bottom: 10px;
  }
}

.year-wrap {
  margin:  10px 10px;
}

.next-year-button {
  margin-left: 10px;
}
.previous-year-button {
  margin-left: 10px;
}

.main-header {
  display: block;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
  @media only screen and (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .navbar-nav>li {
      float: left;
    }
  }
  @media only screen and (min-width: 768px) {
    .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after {
    clear: both;
  }
  .nav>li {
    position: relative;
    display: block;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  .img-circle {
    border-radius: 50%;
  }
}

.non-underline {
  text-decoration: none !important;
}

.invalid-feedback {
  color: red;
}

.breadcrumb {
  margin-bottom: 0px !important;
}

.alert-successed {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-failed {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  margin-top: 40px;
  margin-bottom: 0px !important;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.bg-warning, .bg-info, .bg-danger, .bg-success, .bg-secondary {
  display: unset;
}

.line-chart-statistic {
  margin-left: 5px;
}

abbr[title=required] {
  color: red;
}
.navbar-static-top .nav > li > a {
  padding: 15px 15px;
}

.danger_text {
  color: red;
}

.mg-r-5 {
  margin-right: 5px;
}

.image_in_table {
  max-height: 200px;
  max-width: 500px;
}
